NODE_ENV
PORT

CONN_STR

JWT_ACCESS_SECRET 
JWT_ACCESS_EXPIRES

JWT_VERIFY_EMAIL_SECRET
JWT_VERIFY_EMAIL_EXPIRES

JWT_REFRESH_SECRET 
JWT_REFRESH_EXPIRES

SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASS
EMAIL_FROM

GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI
